h2 Llistat d'entrades

table.table.table-striped
  thead
    tr
      th Date
      th Title
      th Permalink
      th Author
  tbody
    each item in items
      tr
        td= moment(item.created_at).format('DD/MM/YY')
        td= item.title
        td= item.permalink
        td= item.author
        td
          form(action='/admin/destroy/' + item._id, method='post', style='margin: 0')
            button.btn.btn-mini.btn-danger Delete
