h2 Llistat d'entrades

table.table.table-striped
  thead
    tr
      th Date
      th Type
      th Title
      th Permalink
      th Author
  tbody
    each item in items
      tr
        td= moment(item.created_at).format('DD/MM/YY')
        td
          if item.type === 'episode'
            i(class='icon-headphones')
          if item.type === 'post'
            i(class='icon-file')
          if item.type === 'link'
            i(class='icon-bookmark')
          = ' ' + item.type
        td= item.title
        td= item.permalink
        td= item.author
        td
          form(action='/admin/destroy/' + item._id, method='post', style='margin: 0')
            button.btn.btn-mini.btn-danger(onclick= 'return confirm("Delete?");') Delete
