.comments#comments
  h3.title= (item.comments ? item.comments.length + ' comentaris' : 'Comentaris')
  if item.comments
    for comment in item.comments
      include comment
  else
    p Sigues el primer en comentar!

  include comment_form
