.comment
  .avatar
    img(src=comment.author.avatar)
  .comment-box
    header
      a(href=comment.author.url)= comment.author.name
      .date= moment(comment.created_at).fromNow()
    .body
      p!= markdown.parse(comment.body)
