article
  header
    h2
      a(href='/que-es-semantic') Què és Semàntic?
  .body
    p Semantic és un <a href="http://ca.wikipedia.org/wiki/Podcàsting" title="Què és un podcast?">podcast</a> en català que parla de tecnologia, Internet i emprenedoria. La idea va néixer al bar de la FIB (<a href="http://www.fib.upc.es">Facultat d'Informàtica de Barcelona</a>) a principis del 2010 i el primer episodi es va enregistrar en un garatge [no podia ser altrament] de la zona de la Sagrada Família de Barcelona, el dilluns 17 de Maig de 2010.

    p En els primers trenta episodis vam centrar-nos en parlar principalment de tecnologia, en alguns casos amb força profunditat. Després d'una llarga pausa el 2011, vam retrobar-nos per per seguir amb Semàntic el 4 de Juny del 2012, aquesta vegada per adquirir una orientació més general i professional d'Internet. El transcurs del podcast acompanya també la nostra experiència com a enginyers informàtics i emprenedors d'Internet.

    p Semàntic està orientat a un públic interessat en el món online; emprenedors, estudiants o treballadors de qualsevol àmbit de negoci a Internet poden trobar-hi continguts interessants. No pretenem ser un noticiari ni cobrir tots els temes d'actualitat, sinó que el nostre objectiu és xerrar distesament de tècniques, pràctiques, conceptes de negoci, productes i novetats tecnològiques que ens criden l'atenció. És possible que utilitzem alguns episodis per examinar algun tema en profunditat, i sovint portem gent del sector que ens acompanya a guanyar perspectiva i entendre el funcionament de diferents àmbits professionals a Internet.

    p Semantic és un podcast mensual que intentem que <b>s'emeti el dia 1</b>. Us podeu subscriure mitjançant <a href="http://itunes.apple.com/es/podcast/id374246709" title="Subscripció per iTunes">iTunes</a> o per <a href="http://feeds.feedburner.com/semanticpodcast" title="Feed RSS" >RSS</a>.

    p Deixeu comentaris als episodis o escriviu-nos a <b><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#111;&#100;&#99;&#97;&#115;&#116;&#64;&#115;&#101;&#109;&#97;&#110;&#116;&#105;&#99;&#46;&#99;&#97;&#116;" title="Correu de semàntic.cat">&#112;&#111;&#100;&#99;&#97;&#115;&#116;&#64;&#115;&#101;&#109;&#97;&#110;&#116;&#105;&#99;&#46;&#99;&#97;&#116;</a></b>. També podeu seguir <a href="http://twitter.com/semanticpodcast" title="Twitter de Podcast Semàntic">@semanticpodcast</a> al Twitter o consultar el <a href="http://github.com/semantic/semantic" title="semantic.cat a Github">codi d'aquesta pàgina</a>. Si el podcast us agrada, us agraïm també que n'escriviu una ressenya a l'iTunes.

    p Semàntic és un projecte sense ànim de lucre, enregistrat actualment a les oficines d'Itnig amb l'únic objectiu de gaudir compartint els temes que ens apassionen i en els quals treballem cada dia.

    <img src="http://s3-eu-west-1.amazonaws.com/semanticpodcast/1podcastMitja.jpg" alt="Enregistrament del primer podcast, 17 de Maig de 2010. Jordi, Masumi i Bernat de Semàntic Podcast." />

    p Enregistrament del primer episodi, el 17 de Maig de 2010

