each item in items
  include partials/short_item

.pagination
  if page < total_pages - 1
    - var url = '/page' + (page + 1)
    a.button.older(href=url) &laquo; Més antics

  if page > 0
    - var url = (page === 1 ? '/' : '/page' + (page - 1))
    a.button.newer(href=url) Més recents &raquo;
