//- FIXME This should obviously be a dynamic include such as
//- `include item.type` but Jade doesn't allow this.
article(class= item.type)
  header
    h2
      a(href= item.permalink)= item.title
    ul.metadata
      li.meta.author Jordi
      li.meta.comments 2 comments
      li.meta.date
        date(datetime='2012-04-12') 2 days ago
      li.meta.tags #SEO #socialmedia

  .body= item.body
