!!!
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/application.css")

  body
    header.header
      .header-wrapper
        a(href="/")
          h1.logo Semàntic
        .user
          if user
            if user.admin
              a.admin.button(href='/admin') Admin
            = user.name
          else
            a.login.button(href='/login/twitter') Log in via Twitter
    .wrapper
      .notebook!= body
      aside.sidebar
        section.intro
          p El <strong>podcast</strong> en <strong>català</strong> d'<strong>informàtica</strong> i <strong>noves tecnologies</strong> fet per <strong>enginyers informàtics</strong>.
          a.with_arrow(href='/que-es-semantic') Més sobre nosaltres
          a.with_arrow(href='/membres') Equip Semàntic
        section.social
          a(href='https://twitter.com/#!/semanticpodcast').button.gray.twitter Segueix-nos a 
            strong Twitter
          a(href='http://feeds.feedburner.com/semanticpodcast').button.gray.rss Subscriu-te al 
            strong RSS
          a(href='http://itunes.apple.com/podcast/id374246709').button.gray.itunes Subscriu-te a 
            strong iTunes
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/jquery.autosize.js')
    script(src='/javascripts/app.js')
