!!!
html
  head
    title= title
    link(rel="stylesheet/less", type="text/css", href="/stylesheets/application.less")
    script(src='/javascripts/less.js')

  body
    header.header
    .wrapper
      .notebook!= body
      aside.sidebar
        section.intro
          p El <strong>podcast</strong> en <strong>català</strong> d'<strong>informàtica</strong> i <strong>noves tecnologies</strong> fet per <strong>enginyers informàtics</strong>.
          a.with_arrow(href='/about') Més sobre nosaltres
        section.social
          .button.gray.twitter Segueix-nos a 
            strong Twitter
          .button.gray.rss Subscriu-te al 
            strong RSS
          .button.gray.itunes Subscriu-te a 
            strong iTunes
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/jquery.autosize.js')
    script(src='/javascripts/app.js')
