!!!
html
  head
    title= title
    link(rel="stylesheet/less", type="text/css", href="/stylesheets/application.less")
    script(src='/javascripts/less.js')

  body
    header.header
    .notebook-hack
      div
    .wrapper
      .notebook!= body
      aside.sidebar
        section.intro
          p El podcast en català d'informàtica i noves tecnologies fet per enginyers informàtics.
          a.with_arrow(href='/about') Més sobre nosaltres
        section.social
          .button.gray.twitter Segueix-nos a 
            strong Twitter
          .button.gray.rss Subscriu-te al 
            strong RSS
          .button.gray.itunes Subscriu-te a 
            strong iTunes
