!!!
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/application.css")
    link(rel="stylesheet", href="/stylesheets/mediaelementplayer.min.css")

  body
    header.header
      .header-wrapper
        a(href="/")
          h1.logo Semàntic
        .user
          if user
            if user.admin
              a.admin.button(href='/admin') Admin
            = user.name
          else
            a.login.button(href='/login/twitter') Log in via Twitter
    .wrapper
      .notebook!= body
      aside.sidebar
        section.intro
          p El <strong>podcast</strong> en <strong>català</strong> de <strong>tecnologia</strong>, <strong>Internet</strong> i <strong>emprenedoria</strong> fet per <strong>enginyers informàtics</strong>.
          a.with_arrow(href='/que-es-semantic') Més sobre nosaltres
          a.with_arrow(href='/membres') Equip Semàntic
        section.social
          a(href='https://twitter.com/#!/semanticpodcast').button.gray.twitter Segueix-nos a 
            strong Twitter
          a(href='http://feeds.feedburner.com/semanticpodcast').button.gray.rss Subscriu-te al 
            strong RSS
          a(href='http://itunes.apple.com/podcast/id374246709').button.gray.itunes Subscriu-te a 
            strong iTunes
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/jquery.autosize.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/mediaelement-and-player.min.js')
    script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-16083584-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
