article.team
  header
    h2
      a(href='/membres') Equip Semàntic
  .body
    <img class="" alt="" width="125" height="125" src="http://www.gravatar.com/avatar/8f2fc54aaccad1c022a4424772adec7d?size=125" />
    <h2>Bernat Farrero</h2>

    <span class="xarxa">
    <a href="http://bernatfarrero.com">Blog</a>
    <a href="http://github.com/bernat">Github</a>
    <a href="http://flickr.com/dberni">Flickr</a>
    <a href="http://twitter.com/bernatfarrero">Twitter</a>
    </span>

    p Enginyer informàtic per la Facultat d'Informàtica de Barcelona. Fundador de l'incubadora de negocis d'Internet Itnig i actual CEO de Camaloon. Apassionat per la informàtica i l'economia d'Internet. Va convèncer a en Jordi i en Masumi per fer Semàntic perquè volia plantar cara a la nodrida varietat de podcasting americana. Ha viscut a Anglaterra, els Estats Units i Itàlia, tot i que sovint repeteix "enlloc com a Barcelona".
    <p>Pots contactar amb ell a <b><a href="javascript:location='mailto:\u0062\u0065\u0072\u006e\u0061\u0074\u0040\u0069\u0074\u006e\u0069\u0067\u002e\u006e\u0065\u0074';void 0"><script type="text/javascript">document.write('\u0062\u0065\u0072\u006e\u0061\u0074\u0040\u0069\u0074\u006e\u0069\u0067\u002e\u006e\u0065\u0074')</script></a></b>.</p>

    <img class="" alt="" width="125" height="125" src="http://www.gravatar.com/avatar/aebc2d07a50011e2a30d38435fde564a?size=125" />
    <h2>Jordi Romero</h2>

    <span class="xarxa">
    <a href="http://jrom.net">Blog</a>
    <a href="http://github.com/jrom">Github</a>
    <a href="http://www.flickr.com/photos/jordi_romero/">Flickr</a>
    <a href="http://twitter.com/jordiromero">Twitter</a>
    </span>

    <p>
    Treballa a <a href="http://teambox.com/" title="Teambox">Teambox</a> mentre acaba els estudis d'Enginyeria en Informàtica a la <a href="http://www.fib.upc.edu/fib/" title="Facultat d'Informàtica de Barcelona">Facultat d'Informàtica de Barcelona</a>. Especialista en Ruby on Rails així com aplicacions web en general, desplegament de sistemes i d'altres temes relacionats. Paral·lelament a la universitat intenta fer recerca en l'àmbit de l'Arquitectura de Computadors.
    </p>

    <img class="" alt="" width="125" height="125" src="http://www.gravatar.com/avatar/014dfb8ccca86aea6a7f45470e2156e3?size=125" />
    <h2>Masumi Mutsuda</h2>

    <span class="xarxa">
    <a href="http://mutsuda.com">Blog</a>
    <a href="http://github.com/mutsuda">Github</a>
    <a href="http://www.flickr.com/photos/22524707@N04">Flickr</a>
    <a href="http://twitter.com/mutsuda">Twitter</a>
    </span>

    <p>Enginyer informàtic mig japonès, mig català. Amant de les noves tecnologies, però també del coneixement en general. Apassionat per la flauta travessera, el piano i la fotografia, és membre de l'Orquestra de la Universitat Politècnica de Catalunya. 
    Ha viscut al Japó, i cada estiu hi torna per posar-se al dia de les noves tendències. Actualment viu a Barcelona, on hi treballa com a actor de doblatge tant de  <a href="http://www.eldoblatge.com/actor_doblatge/masumi_mutsuda">català</a>, com de <a href="http://www.eldoblaje.com/datos/FichaActorDoblaje.asp?id=162">castellà</a>. </p>
    <p>Pots contactar amb ell a <b><a href="javascript:location='mailto:\u006d\u0075\u0074\u0073\u0075\u0064\u0061\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0"><script type="text/javascript">document.write('\u006d\u0075\u0074\u0073\u0075\u0064\u0061\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d')</script></a></b>.</p>

    <h2>Convidats Semàntic</h2>

    <p><strong>Pablo Villalba</strong>: Enginyer aeronàutic, emprenedor d'Albacete i fundador de <a title="Collaboration just got better" href="http://www.teambox.com">Teambox</a>, empresa que ofereix servei de subscripció a una innovadora aplicació de gestió de projectes i col·laboració d'equips.</p>
    <p>Participació en: <a href="/episodes/11-pablo-villalba-teambox" title="Capítol #11 Pablo Villalba, CEO de Teambox">#11</a>, <a href="/episodes/22-especial-mobile-world-congress-i-yahoo-hacku">#22</a>, <a title="Capítol #23 Taula Rodona amb Raúl Murciano i Francesc Esplugues" href="http://semantic.cat/episodes/23-taula-rodona-amb-raul-murciano-i-francesc-esplugues">#23</a></p>
    <hr />
    <p><strong>Pere Joan Martorell</strong>: Percusionista i estudiant d'últim any d'enginyeria informàtica a la Facultat d'Informàtica de Barcelona. És l'autèntic creador del DIEC amb la seva aportació de noves paraules i la seva programació de l'extensió de diccionari per defecte de Firefox. També és un actiu membre polític.</p>
    <p>Participació en: <a href="/episodes/18-serveis-minims-Pere-Joan-Maps-Assange-Neo4j" title="Capítol #18 Serveis Mínims, Pere Joan, Maps Assange i Neo4j">#18</a>, <a title="Capítol #25 Hitchlog i el fantàstic món del SEO" href="http://semantic.cat/episodes/25-hitchlog-i-el-fantastic-mon-del-seo">#25</a></p>
    <hr />
    <p><strong>Pol Badal</strong>: Enginyer de telecomunicacions per la universitat Ramón Llull. Actualment treballa a una consultoria de telecomunicacions i és el responsable del desplegament de Barcelona Wifi.</p>
    <p>Participació en: <a href="/episodes/19-wikileaks-pol-badal-bcn-wifi-i-ultims-hits-de-Amazon" title="Capítol #19 Wikileaks, Pol Badal de BCN-WIFI i els últims hits d'Amazon">#19</a></p>
    <hr />
    <p><strong>Roger Campos</strong>: Enginyer Informàtic. Director tecnològic de <a title="Itnig Serveis Web" href="http://itnig.net">Itnig</a>. Autèntic linuxer, de petit ja feia videojocs, té un peu a Anglaterra i un altre a Catalunya i li apassiona remenar tecnologies.</p>
    <p>Participació en: <a href="/episodes/20-especial-visita-a-les-seus-de-teambox-i-itnig" title="Capítol Especial: Visita a les seus de Teambox i Itnig">#20</a></p>
    <hr />
    <p><strong>Dulce De Rosa</strong>: Dissenyadora a <a title="Itnig Serveis Web" href="http://itnig.net" title="Itnig Serveis Web">Itnig</a>. Amant de Ilustrator, Photoshop, Flash i totes aquelles eines que li permeten evitar la pantalla negra de la terminal. Justament el contrari del que es veu oblidaga da fer a Itnig (malgrat admet començar a trobar-li el gustet).</p>
    <p>Participació en: <a href="/episodes/20-especial-visita-a-les-seus-de-teambox-i-itnig" title="Capítol Especial: Visita a les seus de Teambox i Itnig">#20</a></p>
    <hr />
    <p><strong>Saimon Moore</strong>: Doctor en química orgànica. Desenvolupador a <a title="Collaboration just got better" href="http://www.teambox.com">Teambox</a>. És mig xiprenc, escocès i català, ha treballat els últims anys creant aplicacions web, especialista en Rails i orgullós usuari de VIM.</p>
    <p>Participació en: <a href="/episodes/20-especial-visita-a-les-seus-de-teambox-i-itnig" title="Capítol Especial: Visita a les seus de Teambox i Itnig">#20</a></p>
    <hr />
    <p><strong>Arol Viñolas</strong>: Estudiant d'últim any d'enginyeria informàtica a la Facultat d'Informàtica de Barcelona. Treballa creant aplicacions web a <a href="http://www.codilink.com/">Codilink</a>. És un dels creadors d'iFollon, l'aplicació de frases de l'APM.</p>
    <p>Participació en: <a href="http://semantic.cat/episodes/21-entrevistem-un-dels-creadors-de-ifollon-en-plena-apagada-de-egipte">#21</a></p>
    <hr />
    <p><strong>Raúl Murciano</strong>: Desenvolupador d'aplicacions web, principalment en Ruby i Rails. Actualment treballa a Heroku, la plataforma més coneguda per aplicacions Ruby. També participa juntament amb Marcelino Llano a <a title="Rails Hispano" href="http://railshispano.es/">Rails Hispano</a>, el podcast de Ruby i Rails en castellà.</p>
    <p>Participació en: <a title="Capítol #23 Taula Rodona amb Raúl Murciano i Francesc Esplugues" href="http://semantic.cat/episodes/23-taula-rodona-amb-raul-murciano-i-francesc-esplugues">#23</a></p>
    <hr />
    <p><strong>Francesc Esplugues</strong>: Desenvolupador d'aplicacions web principalment en Ruby i Rails. Creador del famós Typus, engine que ofereix un panell d'administració per modificar el contingut estructurat en aplicacions Rails.</p>
    <p>Participació en: <a title="Capítol #23 Taula Rodona amb Raúl Murciano i Francesc Esplugues" href="http://semantic.cat/episodes/23-taula-rodona-amb-raul-murciano-i-francesc-esplugues">#23</a></p>
    <hr />
    <p><strong>Florian Vallen</strong>: Desenvolupador d'aplicacions web principalment en Ruby i Rails originari de Düsseldorf, Alemània. Fundador de <a href="http://hitchlog.com">Hitchlog</a>, xarxa social per autoestopistes. Practicant de BDD per Javascript.</p>
    <p>Participació en: <a title="Capítol #25 Hitchlog i el fantàstic món del SEO" href="http://semantic.cat/episodes/25-hitchlog-i-el-fantastic-mon-del-seo">#25</a></p>
    <hr />
    <p><strong>Sergi Sans</strong>: Director comercial de <a title="Itnig Serveis Web" href="http://itnig.net" title="Itnig Serveis Web">Itnig</a> i expert en SEO i Marketing online. És el responsable de l'èxit de posicionament dels grans projectes de Itnig.</p>
    <p>Participació en: <a title="Capítol #25 Hitchlog i el fantàstic món del SEO" href="http://semantic.cat/episodes/25-hitchlog-i-el-fantastic-mon-del-seo">#25</a></p>
    <hr />
    <p><strong>Albert Bellonch</strong>: Enginyer informàtic de <a title="Itnig Serveis Web" href="http://itnig.net" title="Itnig Serveis Web">Itnig</a> i desenvolupador de Ruby on Rails. Culer, serie-addicte i amb habilitats ninjes de remenar el codi. </p>
    <p>Participació en: <a title="Capítol #26 En directe amb San Francisco" href="http://semantic.cat/episodes/26-en-directe-amb-san-francisco">#26</a></p>

