body {
  margin: 0;

  > header {
    width: 100%;
    height: @headerHeight;
    margin: 0 auto;
  }

  > .wrapper {
    z-index: 2;
    position: relative;
    .clearfix();
    width: @totalWidth;
    margin: 0 auto 0;

    > .notebook {
      width: @notebookWidth - (@columnWidth + @paperPaddingLeftWidth) - @paperPaddingRightWidth;
      padding-left: @columnWidth + @paperPaddingLeftWidth;
      padding-right: @paperPaddingRightWidth;
      float: left;
    }

    > aside.sidebar {
      width: @sideBarWidth - @sideBarPaddingLeftWidth - @sideBarPaddingRightWidth;
      float: left;
      padding-top: 60px;
      padding-left: @sideBarPaddingLeftWidth;
      padding-right: @sideBarPaddingRightWidth;
    }
  }

  > .notebook-hack {
    position: fixed;
    top: @headerHeight;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
    > div {
      width: @totalWidth;
      margin: 0 auto 0;
      height: 100%;
      background: url('/images/notebook_bg.png') repeat-y;
    }
  }
}
