.wrapper {
  background: url('/images/notebook_bg.png') repeat-y;
  &:before {
    content: '';
    display: block;
    width: 100%;
    background: url('/images/notebook_bg_top.png') no-repeat top left;
    height: 20px;
    position: relative;
    top: -20px;
  }
}

.notebook {
  padding-bottom: 40px;
}
