
// Colors
@red: #e24856;
@gray: #d1d1d1;

@textColor: #707070;
@linkColor: @red;
@bodyColor: @gray;

// Fonts
@standardFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@textFontFamily: chaparral-pro, Georgia, "Timew New Roman", Times, serif;
@titleFontFamily: "American Typewriter", Georgia, "Timew New Roman", Times, serif;

@titleFont: @titleFontFamily 30px;
@metaDataFont: @textFontFamily 12px;
@bodyFont: @textFontFamily 18px;

// Sizes
@totalWidth: 920px;
@sideBarWidth: 260px;
@sideBarPaddingLeftWidth: 40px;
@sideBarPaddingRightWidth: 20px;
@containerWidth: 660px;
@columnWidth: 57px;
@paperPaddingLeftWidth: 30px;
@paperPaddingRightWidth: 40px;

@headerHeight: 100px;

